@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  background: whitesmoke;
} */
img {
  height: 130px;
}
.modalImage img {
  height: 90%;
}
.card {
  background: #fff;
  padding: 25px 10px;
  text-align: center;
  border-radius: 10px;
  width: 20vw;
  min-width: 10rem;
  margin: 15px 15px;
  /* border: 1px solid rgb(209, 205, 205); */
}
.card div:nth-child(1) {
  cursor: pointer;
}
.card img:hover {
  /* cursor: pointer; */
  transform: scale(1.5);
  transition: all 0.6s ease;
  background-color: transparent;
}
.productsWrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.btnAdd {
  border: none;
  outline: none;
  background: #764abc;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btnAdd:hover {
  background: #513282;
}
.heading {
  padding: 25px 0;
}
.cartCount {
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 40px;
}
.navLink {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}
.cartCard {
  background: #fff;
  margin-bottom: 20px;
  padding: 14px;
  border-radius: 5px;
}
input[type="number"] {
  outline: none;
  border: 1px solid #fff;
}
input[type="number"]:hover {
  border: 1px solid gray;
}
.removeIcon {
  right: -5px;
  top: -1.96rem;
  z-index: 10;
}
.css-1k4hvgc,
.css-1wvege7 {
  /* border: none; */
  outline: none !important;
}
.random1,
.random2,
.random3 {
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.random1 {
  background-image: url(../public/images/banner7.jpg);
}
.random2 {
  background-color: rgb(209, 206, 190);
  background-image: url(../public/images/banner5.jpg);
}
.random3 {
  background-color: rgb(237, 237, 231);
  background-image: url(../public/images/banner11.jpg);
}
/* Rating */
